<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListFoodtruck</title>
    <!-- Core CSS - Include with every page -->
    <link href="../../resources/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../../resources/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../../resources/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="../../resources/css/style.css" rel="stylesheet" />
      <link href="../../resources/css/main-style.css" rel="stylesheet" />

    <style>
     table.alignCenter {
        margin-left: auto;
        margin-right: auto;
        
        }
        table.border {
            
        }

    </style>
    
</head>

<body>
    <!--  wrapper -->
    <div id="wrapper" style="color:#FFFFFF">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
                <a class="navbar-brand" href="index.html">
                    <img src="../../resources/img/logo.png" alt="" />
                </a>
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                <li class="row">
                		<div class="col-xs-10" style="margin-right: 200px">
	            			<!-- search section-->
	                        <div class="input-group custom-search-form">
	                        	<input type="text" class="form-control" placeholder="Search" style="width: 400px">
	                            <input type="text" class="form-control" placeholder="Location" style="width: 400px">
	                                <button class="btn btn-default" type="button">
	                                    <i class="fa fa-search"></i>
	                                </button>
	                        </div>
	                		<!--end search section-->
	            		</div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->
        </nav>
        <!-- end navbar top -->

        <!--  page-wrapper -->

                <!--End Page Header -->
            </div>

	<div class="container">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                <br>
                    <br>
                    <table class="alignCenter" >
                <td>  
                    <button type="button" class="btn btn btn-warning">OPEN NOW</button>&nbsp; &nbsp;&nbsp;</td>
                   
                <td>    <div class="checkbox"> 
                    <label>
                     <input type="checkbox" value="">카드 결제
                     </label>
                     </div>
                    </td>
    <td>&nbsp;&nbsp; &nbsp; </td><td>
                     <div class="checkbox">
                     <label>
                     <input type="checkbox" value="">알콜 판매
                     </label>
                     </div>
        </td>
    <td>&nbsp;&nbsp; &nbsp; </td><td>
                     <div class="checkbox">
                     <label>
                     <input type="checkbox" value="">주차 가능
                     </label>
                     </div>
        </td>
    <td>&nbsp;&nbsp; &nbsp; </td><td>
                     <div class="checkbox">
                     <label>
                     <input type="checkbox" value="">케이터링
                     </label>
                     </div>
        </td>
                      <td>&nbsp;&nbsp; &nbsp; </td><td>
   <div class="selectbox">                <select id="disabledSelect" class="form-control">
                                        <option>리뷰많은 순</option>
                                        <option>단골많은 순</option>
                                        
                                                                        
                                  </select>
                        
                     </div>
                    
                    
                                                 
                    </div>
                        </table>
                </div>
            </div>
    <div id="dataTables-example">
        <div style="float:left;">
        
            <h2>검색어 결과 </h2><br>
            <div class="find">
            <table>
          <tr>
          <th rowspan="3"><img width="100px" height="100px" src="../../resources/img/pizzahut.png" style="margin-right:10px"></th>
        <th width="200px"> <a href="" style="color:black">정찬기의 피자집</a>
        &nbsp;&nbsp;<th>피자</th>
        </tr>
        <tr>  </tr>
          <td>단골 144명</td>
          <td>225리뷰</td>
          </table>
                   <br>
            </div>

            
     
            <div class="find" style="maring-bottom:20px">
            <table>
          <tr>
          <th rowspan="3"><img width="100px" height="100px" src="../../resources/img/pizzahut.png" style="margin-right:10px"></th>
        <th width="200px" > <a href="" style="color:black; font-weight:bold">이승건의 삐따기</a>
        &nbsp;&nbsp;<th>핫도그</th>
        </tr>
        <tr>  </tr>
          <td>단골 144명</td>
          <td>225리뷰</td>
          </table>
                   <br>
            </div>

            <div class="find" style="maring-bottom:20px">
            <table>
          <tr>
          <th rowspan="3"><img width="100px" height="100px" src="../../resources/img/pizzahut.png" style="margin-right:10px"></th>
        <th width="200px"> <a href="" style="color:black">김주희의 소환의 협곡</a>
        &nbsp;&nbsp;<th>퓨전</th>
        </tr>
        <tr>  </tr>
          <td>단골 144명</td>
          <td>225리뷰</td>
          </table>
                   <br>
            </div>

            <div class="find" style="maring-bottom:20px">
            <table>
          <tr>
          <th rowspan="3"><img width="100px" height="100px" src="../../resources/img/pizzahut.png" style="margin-right:10px" ></th>
        <th width="200px"> <a href="" style="color:black">서대현의 보물섬</a>
        &nbsp;&nbsp;<th>과자</th>
        </tr>
        <tr>  </tr>
          <td>단골 144명</td>
          <td>225리뷰</td>
          </table>
                   <br>
            </div>
            <div class="find" style="maring-bottom:20px">
            <table>
          <tr>
          <th rowspan="3"><img width="100px" height="100px" src="../../resources/img/pizzahut.png" style="margin-right:10px"></th>
        <th width="200px"> <a href="" style="color:black">김태승의 김치찜</a>
        &nbsp;&nbsp;<th>한식</th>
        </tr>
        <tr>  </tr>
          <td>단골 144명</td>
          <td>225리뷰</td>
          </table>
                   <br>
            </div>
            <div class="find" style="maring-bottom:20px">
            <table>
          <tr>
          <th rowspan="3"><img width="100px" height="100px" src="../../resources/img/pizzahut.png" style="margin-right:10px"></th>
        <th width="200px"> <a href="" style="color:black">김효진의 초콜릿공장</a>
        &nbsp;&nbsp;<th>디저틀</th>
        </tr>
        <tr>  </tr>
          <td>단골 144명</td>
          <td>225리뷰</td>
          </table>
                   <br>
            </div>

            <div class="find" style="maring-bottom:20px">
            <table>
          <tr>
          <th rowspan="3"><img width="100px" height="100px" src="../../resources/img/pizzahut.png" style="margin-right:10px"></th>
        <th width="200px"> <a href="" style="color:black">맛있는 커피</a>
        &nbsp;&nbsp;<th>커피</th>
        </tr>
        <tr>  </tr>
          <td>단골 144명</td>
          <td>225리뷰</td>
          </table>
                   <br>
            </div>

        
            <div class="find" style="maring-bottom:20px">
            <table>
          <tr>
          <th rowspan="3"><img width="100px" height="100px" src="../../resources/img/pizzahut.png" style="margin-right:10px"></th>
        <th width="200px"> <a href="" style="color:black">살살녹는 푸딩</a>
        &nbsp;&nbsp;<th>디저트</th>
        </tr>
        <tr>  </tr>
          <td>단골 144명</td>
          <td>225리뷰</td>
          </table>
                   <br>
            </div>

        
            <div class="find" style="maring-bottom:20px">
            <table>
          <tr>
          <th rowspan="3"><img width="100px" height="100px" src="../../resources/img/pizzahut.png" style="margin-right:10px"></th>
        <th width="200px"> <a href="" style="color:black">붙타는 불닭</a>
        &nbsp;&nbsp;<th>퓨전</th>
        </tr>
        <tr>  </tr>
          <td>단골 144명</td>
          <td>225리뷰</td>
          </table>
                   <br>
            </div>
        </div>

   
        <div style="float: right;">
            <br>
<img width="500px" height="500px" src="../../resources/img/map.jpg" >
     </div>    
        

</div>
        
        </div>
        <!-- end page-wrapper -->
<!-- <center><div class=conatiner>
    <a style="color:white; font-size: 30px;">1</a>
    <a style="color:white; font-size: 30px;">2</a>
    <a style="color:white; font-size: 30px;">3</a>
    <a style="color:white; font-size: 30px;">4</a>
    <a style="color:white; font-size: 30px;">5</a>

    </div></center> -->
    
         <div style="maring-top:50px; margin-bottom:50px">
        
                    <center><a href="">1&nbsp;</a><a href="">2&nbsp;</a><a href="">3&nbsp;</a><a href="">4&nbsp;</a><a href="">5&nbsp;</a><a href="">6&nbsp;</a></center>

        
        </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="../resources/plugins/jquery-1.10.2.js"></script>
    <script src="../resources/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../resources/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../resources/plugins/pace/pace.js"></script>
    <script src="../resources/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="../../resources/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="../../resources/plugins/dataTables/dataTables.bootstrap.js"></script>
</body>


    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>

</html>
