<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodtruckMain</title>
    <!-- Core CSS - Include with every page -->
    <link href="../resources/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../resources/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../resources/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="../resources/css/style.css" rel="stylesheet" />
      <link href="../resources/css/main-style.css" rel="stylesheet" />

</head>
    
    <style>
        #indexMain{ margin:60px;}
        #indexbody{margin-left: 350px;}
        #Recommend{margin-left: 700px;}
        #Truck{margin-left: 200px;}
        #Location{margin-left: 700px;}
    
        
        
        }
    </style>

<body>
    
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <br>
            <div class="col-xs-12" style="margin-right: 5px" >
                <span style="float:right">
                 <!-- main dropdown -->
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
                </span>
            </div>
            <ul class="nav navbar-top-links navbar-right">	
            <div class="col-xs-10" style="margin-right: 550px" >
            <a class="navbar-brand" style="float:center" href="index.html">
                    <img src="../resources/img/logo.png" alt="" />
                </a>
            </div>
            </ul>
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="row">
                		<div class="col-xs-10" style="margin-right: 350px">
	            			<!-- search section-->
	                        <div class="input-group custom-search-form">
	                        	<input type="text" class="form-control" placeholder="Search" style="width: 400px">
	                            <input type="text" class="form-control" placeholder="Location" style="width: 400px">
	                                <button class="btn btn-default" type="button">
	                                    <i class="fa fa-search"></i>
	                                </button>
	                        </div>
	                		<!--end search section-->
	            		</div>
                </li>
                <br>
                <br>

 
            </ul>
            
        </nav>
       <!-- end navbar top -->

    <!-- Core Scripts - Include with every page -->

       
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->

    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/plugins/pace/pace.js"></script>
    <script src="assets/scripts/siminta.js"></script>

</body>
      <br>
        <br><br><br><br><br><br><br>
    <div id="Recommend">
        <u><font size="4">My Followers Review</font></u>
    </div>
    <br><br>
       <div class="container">
                        <div class="row" id="Truck">
                            
                            <u><font size="5">Name of Truck</font></u> <br><br>  
     <img style="float: left;" src="../resources/img/twiceprofile.jpg"/>
                            
                            <text style="margin-left:10px">푸드트럭</text><br>
                            <text style="margin-left:10px">★★★★</text><br>
                            <text style="margin-left:10px">144Reviews</text>
                            </div><br>
                                       <u id="Truck">My Follow's Name</u>
           <img width="30" height="30" class:ddabong src="../resources/img/recom.jpg"/>
           <text>4827</text>
           <br>
           <text id="Truck">햄버거가 너무 맛잇어요</text>
<br>
    <br><br><br>
    </div>
    
 
<div class="container">
                        <div class="row" id="Truck">
                            
                            <u><font size="5">Name of Truck</font></u> <br><br>  
     <img style="float: left;" src="../resources/img/twiceprofile.jpg"/>
                            
                            <text style="margin-left:10px">푸드트럭</text><br>
                            <text style="margin-left:10px">★★★★</text><br>
                            <text style="margin-left:10px">144Reviews</text>
                            </div><br>
                                       <u id="Truck">My Follow's Name</u>
           <img width="30" height="30" class:ddabong src="../resources/img/recom.jpg"/>
           <text>4827</text>
           <br>
           <text id="Truck">햄버거가 너무 맛잇어요</text>

    </div>

           
 
    <br>
    <br>
 
</html>
