<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
   <link href="assets/css/style.css" rel="stylesheet" />
      <link href="assets/css/main-style.css" rel="stylesheet" />



</head>

<body>
   <div class="col-lg-6">
       <h2>Regist Your Foodtruck</h2>
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Name of Foodtruck</label>
                                            <input class="form-control" placeholder="Requered">
                                        </div>
                                        <div class="form-group">
                                            <tr>
                                                <td><label>Category1</label>
                                            <input class="form-control" placeholder="Requered"></td>
                                                <td><label>Category2</label>
                                            <input class="form-control" placeholder="Requered"></td>
                                                <td><label>Category3</label>
                                            <input class="form-control" placeholder="Requered"></td>
                                            </tr>
                                        
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Hours</label>
                                            <input type="number" class="form-control" >~
                                               <input type="number" class="form-control" >
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Location</label>
                                            <input class="form-control" placeholder="Requered">
                                        </div>
                                        
                        
                                        <div class="form-group">
                                            <label>Method of Payment</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">card
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">cash
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Menu</label>
                                            <select multiple class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" placeholder="name of menu">
                                        <input type="text" class="form-control" 
                                               placeholder="price">
                                        <button type="submit" class="btn btn-primary">ADD</button>
                                    </form>
    </div>
    <!-- Core Scripts - Include with every page -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="assets/plugins/pace/pace.js"></script>
    <script src="assets/scripts/siminta.js"></script>

</body>

</html>
