<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="fofa.store.mapper.FavoriteMapper">
  
  	<!-- <resultMap type="Favorite" id="favoriteMap">
  		<id column="foodtruck_id" property="foodtruckId"/>
  		<id column="member_id" property="memberId"/>
  	</resultMap> -->
  
  </mapper>