<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="fofa.store.mapper.FollowMapper">
	
	<resultMap type="Follow" id="followMap">
		<id column="From_Id" property="fromId" />
		<id column="To_Id" property="toId" />
		
	</resultMap>	
	
    <insert id ="insert" parameterType="Follow">
    INSERT INTO follow_tb (From_Id, To_Id)
    VALUES (#{fromId}, #{toId})
    </insert>
    <delete id="delete" parameterType="Follow">
    DELETE
    FROM follow_tb
    WHERE from_Id = #{fromId} AND  to_Id = #{toId}
    </delete>
    
    <select id="selectByFromId" parameterType="String" resultMap="followMap">
    select from_id, to_Id
    FROM follow_tb
    WHERE from_Id= #{fromId}
    </select>
    <select id="selectByToId" parameterType="String" resultType="int">
    select count(*) followCount
    FROM follow_tb
    WHERE to_Id= #{memberId}
	</select>
  	<select id="select" parameterType="Follow" resultType="int">
  		SELECT COUNT(*)
  		FROM follow_tb
  		WHERE to_Id=#{toId} and from_id=#{fromId}
  	</select> 
	</mapper>    
    
