<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="fofa.store.mapper.ImageMapper">
	
	<resultMap type="Image" id="ImageMap">
		<id column="photo_id" property="imageId"/>
		<result column="review_id" property="categoryId"/>
		<result column="file_name" property="filename"/>
	</resultMap>
	
	<insert id="insertImage" parameterType="Image">
		INSERT INTO photo_tb
	 	VALUES ('P'||photo_seq.NEXTVAL, #{categoryId}, #{filename})	
	</insert>
	
	<update id="updateImage" parameterType="Image">
		UPDATE photo_tb
		SET file_name=#{filename}
		WHERE photo_id = #{imageId}	
	</update>
	
	<delete id="deleteImage" parameterType="String">
		DELETE
		FROM photo_tb
		WHERE photo_id = #{imageId}
	</delete>
	
	<select id="selectReviewImage" parameterType="String" resultMap="ImageMap">
		select photo_id, review_id, file_name
		FROM photo_tb
		WHERE review_id = #{reviewId}
	
	</select>
</mapper>