<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="fofa.store.mapper.MenuMapper">
  	
  	<resultMap type="Menu" id="menuMap">
  		<id column="menu_id" property="menuId"/>
  		<result column="menu_name" property="menuName"/>
  		<result column="price" property="price"/>
  		<result column="menu_state" property="menuState"/>
  		<result column="foodtruck_id" property="foodtruckId"/>
  	</resultMap>
  	
  	<insert id="insert" parameterType="Menu">
  		INSERT INTO menu_tb (menu_id, menu_name, price, menu_state, foodtruck_id) 
  		VALUES ('M'||menu_seq.NEXTVAL, #{menuName}, #{price}, #{menuState}, #{foodtruckId})
  	</insert>
  	
  	<update id="update" parameterType="Menu">
  		UPDATE menu_tb
  		SET menu_name=#{menuName}, price=#{price}, menu_state=#{menuState}
  		WHERE menu_id=#{menuId}
  	</update>
  	
  	<delete id="delete">
  		DELETE FROM menu_tb
  		WHERE menu_id=#{menuId} AND foodtruck_id=#{foodtruckId}
  	</delete>
  	
  	<select id="selectByTruckId" parameterType="String" resultMap="menuMap">
  		SELECT menu_id, menu_name, price, menu_state, foodtruck_id
  		FROM menu_tb
  		WHERE foodtruck_id=#{foodtruckId}
  	</select>
  	
  </mapper>