<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="fofa.store.mapper.RecommandMapper">
 	<insert id = "insert" parameterType="Recommand">
 		INSERT INTO RECOMMAND_TB 
 		VALUES(#{review_Id}, #{writer_Id});
 	</insert>
 	<delete id = "delete" parameterType="Recommand">
 		DELETE FROM RECOMMAND_TB
 		WHERE 
 	</delete>
 	<delete id="deleteAuthor" parameterType="string">
		DELETE FROM author_tb
		WHERE author_id=#{id}
	</delete>
 </mapper>