<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="fofa.store.mapper.ReportMapper">
  	<resultMap type
  </mapper>
<!-- <mapper namespace="store.mapper.MusicMapper">

	프라이머리 키는 id로 준다.
	<resultMap type="Music" id="musicMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="artist_name" property="artist" />
		<result column="album_title" property="album" />
		<result column="image" property="image" />
		<result column="agent_name" property="agent" />

		이게 뭐야 대체
			<collection property=""></collection> <association property=""></association>
	</resultMap>

	<sql id="selectMusic">
		SELECT ID, NAME, ARTIST_NAME, ALBUM_TITLE, IMAGE, AGENT_NAME 
		FROM musicplay_music_tb 
	</sql>

	<select id="read" parameterType="Integer" resultMap="musicMap">
		<include refid="selectMusic" />
		WHERE ID = #{id}
	</select>
	<select id="readByName" parameterType="String" resultMap="musicMap">
		<include refid="selectMusic" />
		WHERE name like '%'||#{name}||'%'
	</select>
	<select id="readAll" resultMap="musicMap">
		<include refid="selectMusic" />
	</select>

	<insert id="registAuthor" parameterType="Author">
		INSERT INTO author_tb (author_id, author_name, author_password, email)
		VALUES( #{id}, #{name}, #{password}, #{email})
	</insert>
	<update id="updateAuthor" parameterType="Author">
		UPDATE author_tb
		set author_name = #{name}, author_password = #{password}, email = #{email}
		where author_id = #{id}
	</update>
	<delete id="deleteAuthor" parameterType="string">
		DELETE FROM author_tb
		WHERE author_id=#{id}
	</delete>	

<selectKey keyProperty="author_id" resultType="Integer" order="BEFORE">
		select 
		</selectKey>

</mapper> -->