<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
<!--   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" -->
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="fofa.store.mapper.ReviewMapper">
  	<resultMap type="reivew" id="ReviewMap">
  		<id column="review_id" property="reviewId"/>
  		<result column="foodtruck_id" property="foodtruckId"/>
  		<result column="contents" property="contents"/>
  		<result column="score" property="score"/>
  		<result column="writedate" property="writeDate"/>
  		<association property="writer" column="member_id"
	  	select = "fofa.store.mapper.MemberMapper.select"	
	  	javaType="Member" jdbcType="VARCHAR"/>
  	</resultMap>
  	
  	<insert id="insert" parameterType="Review">
  		INSERT INTO review_tb
  		VALUES ('R'||review_seq.nextval, #{writer.memberId}, #{foodtruckId}, #{contents}, #{score}, SYSDATE)
  	</insert>
  	<update id="update" parameterType="Review">
  		UPDATE review_tb
  		SET contents = #{contents} , score=#{score}
  		WHERE review_id = #{reviewId}
  	</update>
  	<delete id="delete" parameterType="String">
  		DELETE FROM review_tb
  		WHERE review_id = #{reviewId}
  	</delete>
  	<select id="selectById" parameterType="String">
  		SELECT review_id, member_id, foodtruck_id, contents, score, writedate
  		FROM review_tb
  		WHERE review_id = #{reviewId}
  	</select>
  	<select id="selectById" parameterType="String">
  		SELECT review_id, member_id, foodtruck_id, contents, score, writedate
  		FROM review_tb
  		WHERE review_id = #{reviewId}
  	</select>
  	<select id="selectById" parameterType="String">
  		SELECT review_id, member_id, foodtruck_id, contents, score, writedate
  		FROM review_tb
  		WHERE review_id = #{reviewId}
  	</select>
  	<select id="selectByMemberIdId" parameterType="String">
  		SELECT review_id, member_id, foodtruck_id, contents, score, writedate
  		FROM review_tb
  		WHERE member_id = #{writer.memberId}
  	</select>
  	<select id="selectByTruckId" parameterType="String">
  		SELECT review_id, member_id, foodtruck_id, contents, score, writedate
  		FROM review_tb
  		WHERE foodtruckId = #{foodtruckId}
  	</select>
  </mapper>